/*** footer ***/
.footer {
    padding: 4%;

    /** brand **/
    .brand {
        padding-bottom: 4%;

        a {
            font-family: $headerFont;
            text-decoration: none;
            color: $dark;
            font-size: 2rem;
        }
    }

    /** footer links **/
    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        /* change view on small devices */ 
        @media only screen and (max-width: $smallMobile) {
            flex-direction: column;

            .left-links {
                width: 100%;
            }

            .right-links {
                width: 100%;
            }
        }

        /* left-links */
        .left-links {
            flex: 50%;
        }

        /* right links */
        .right-links {
            flex: 50%;
        }

        /* link title */
        .link-title {
            h3 {
                font-family: $headerFont;
            }
        }

        /* links */
        .links {
            margin-top: 10px;
            a {
                text-decoration: none;
                display: block;
                color: $dark;
                font-family: $font;
                padding: 10px;
                margin: 0 5px;
                transition: .4s ease-out;

                &:hover {
                    background-color: darken($light, 8);
                }
            }
        }
    }

    /** social media **/ 
    .social-media {
        padding-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        /* links */ 
        a {
            font-size: 2.3rem;
            color: $dark;
            line-height: .2;
            border-radius: 50%;
            padding: 10px;
            text-align: center;
            transition: .4s cubic-bezier(1, 0, 0, 1);

            /* insta */ 
            .fa-instagram {
                height: 32.2px;
            }
        }

        /* insta */ 
        .instagram {
            &:hover {
                background-color: #ff7272;
                color: $light;
            }
        }
        /* insta */ 
        .twitter {
            &:hover {
                background-color: #98d6ea;
                color: $light;
            }
        }
        /* insta */ 
        .facebook {
            &:hover {
                background-color: #9399ff;
                color: $light;
            }
        }
        /* insta */ 
        .pinterest {
            &:hover {
                background-color: #fd5e53;
                color: $light;
            }
        }
    }

    /** copyright **/ 
    .copyright {
        h3 {
            font-family: $headerFont;
            text-align: center;
            margin-top: 20px;
        }
    }
}