/*** flickity ***/ 

ol.flickity-page-dots { 
    width: 100%;
    max-width: 400px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

button.flickity-button {
    display: none;
}
