/*** imports ***/ 
@import 'variables', 'header', 'footer', 'utilities';

/*** Reset ***/

html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;

    :focus {
        outline: none;
    }
}

/*** main content ***/ 
/** hero section **/ 
.hero {
    height: 80vh;
    max-height: 100%;
    background-color: transparent;

    .posts {
        .post {
            position: relative;
            width: 100vw;
            height: 80vh;
            background-size: cover;
            background-position: center;

            /* post titles */ 
            .post-title {
                background-color: #fff;
                padding: 20px;
                width: 100%;
                max-width: 80vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);

                /* category */
                h6 {
                    padding: 10px;
                    font-family: $mainFont;
                    font-size: 1rem;
                    color: $mainColor;
                } 

                /* title */ 
                h1 {
                    font-family: $font;
                    text-align: center;
                }

                /* author */ 
                .author {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    /* image */ 
                    .img {
                        height: 40px;
                        max-height: 40px;
                        width: 40px;
                        max-width: 40px;
                        background-image: url('https://imgbbb.com/images/2020/03/21/IMG_20190326_193309-01.jpg');
                        background-size: cover;
                        background-position: 50% 10%;
                        border-radius: 100%;

                        /* hide on small screens */ 
                        @media (max-width: $mobile) {
                            display: none;
                        }
                    }
                }
            }
        }

        .slider-1 {
            background-image: url('https://images.unsplash.com/photo-1584796892527-c5e33f03eff5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');    
        }
        .slider-2 {
            background-image: url('https://images.unsplash.com/photo-1489939078242-0a1dc4a08f06?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
        }
        .slider-3 {
            background-image: url('https://images.unsplash.com/photo-1510563532014-eb0d81595c55?ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80');
        }
    }
}

