/*** imports ***/
/*** breakpoints ***/
/*** Colors ***/
/*** Fonts ***/
@import url("https://fonts.googleapis.com/css?family=Arvo|Montserrat|Quicksand&display=swap");
/*** header ***/
/** Main Menu for laptop screens **/
.main-header {
  z-index: 990;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 4%;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.006), 0 2.3px 5.3px rgba(0, 0, 0, 0.008), 0 4.4px 10px rgba(0, 0, 0, 0.01), 0 7.8px 17.9px rgba(0, 0, 0, 0.012), 0 14.6px 33.4px rgba(0, 0, 0, 0.014), 0 35px 80px rgba(0, 0, 0, 0.02);
          box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.006), 0 2.3px 5.3px rgba(0, 0, 0, 0.008), 0 4.4px 10px rgba(0, 0, 0, 0.01), 0 7.8px 17.9px rgba(0, 0, 0, 0.012), 0 14.6px 33.4px rgba(0, 0, 0, 0.014), 0 35px 80px rgba(0, 0, 0, 0.02);
  /* brand logo */
  /* menu */
  /* Hide on small screens */
}

.main-header .brand a {
  font-size: 2.3rem;
  color: #000000;
  text-decoration: none;
  font-family: "Arvo", serif;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  line-height: 1;
}

.main-header .brand a:hover {
  color: #63c4ab;
}

.main-header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* toggler */
}

.main-header .menu button {
  line-height: .3;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  -webkit-transition: .8s;
  transition: .8s;
}

.main-header .menu a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-header .menu a:hover {
  background-color: #f2f2f2;
}

@media (max-width: 790px) and (max-width: 789px) {
  .main-header {
    display: none;
  }
}

/** Mobile Menu for small screens **/
.mobile-menu {
  z-index: 992;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1% 4%;
  width: 100%;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.006), 0 2.3px 5.3px rgba(0, 0, 0, 0.008), 0 4.4px 10px rgba(0, 0, 0, 0.01), 0 7.8px 17.9px rgba(0, 0, 0, 0.012), 0 14.6px 33.4px rgba(0, 0, 0, 0.014), 0 35px 80px rgba(0, 0, 0, 0.02);
          box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.006), 0 2.3px 5.3px rgba(0, 0, 0, 0.008), 0 4.4px 10px rgba(0, 0, 0, 0.01), 0 7.8px 17.9px rgba(0, 0, 0, 0.012), 0 14.6px 33.4px rgba(0, 0, 0, 0.014), 0 35px 80px rgba(0, 0, 0, 0.02);
  /* brand logo */
  /* toggler */
  /* hide on big screens */
}

.mobile-menu .brand a {
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
  font-family: "Arvo", serif;
  font-weight: bold;
}

.mobile-menu .toggler button {
  line-height: .3;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 790px) {
  .mobile-menu {
    display: none;
  }
}

/** side Menu for small screens **/
.side-menu {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s cubic-bezier(1, 0, 0, 1);
  transition: all 0.7s cubic-bezier(1, 0, 0, 1);
  -webkit-box-shadow: 0 1px 1.6px rgba(0, 0, 0, 0.006), 0 2.4px 3.9px rgba(0, 0, 0, 0.008), 0 4.5px 7.3px rgba(0, 0, 0, 0.01), 0 8px 13px rgba(0, 0, 0, 0.012), 0 15px 24.2px rgba(0, 0, 0, 0.014), 0 36px 58px rgba(0, 0, 0, 0.02);
          box-shadow: 0 1px 1.6px rgba(0, 0, 0, 0.006), 0 2.4px 3.9px rgba(0, 0, 0, 0.008), 0 4.5px 7.3px rgba(0, 0, 0, 0.01), 0 8px 13px rgba(0, 0, 0, 0.012), 0 15px 24.2px rgba(0, 0, 0, 0.014), 0 36px 58px rgba(0, 0, 0, 0.02);
  /* close menu btn */
  /* brand */
  /* menu */
  /* settings & preferences */
}

.side-menu .close {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2rem;
  text-decoration: none;
  background-color: #f1f3f4;
  color: #000000;
  line-height: .55;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.side-menu .close:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: #ff1e56;
  color: #fff;
}

.side-menu .brand {
  margin-top: 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.side-menu .brand a {
  font-size: 2.9rem;
  color: #000000;
  text-decoration: none;
  font-family: "Arvo", serif;
  font-weight: 550;
}

.side-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.side-menu .menu a {
  color: #000000;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  padding: 10px 40px;
  width: 100%;
  max-width: 400px;
  -webkit-transition: .2s;
  transition: .2s;
}

.side-menu .menu a span {
  text-align: left;
}

.side-menu .menu a span .fas, .side-menu .menu a span .fab {
  font-size: 1.2rem;
  width: 30px;
}

.side-menu .menu a .sp1 {
  color: #01295f;
}

.side-menu .menu a .sp2 {
  color: #ffbf00;
}

.side-menu .menu a .sp3 {
  color: #e83f6f;
}

.side-menu .menu a .sp4 {
  color: #2274a5;
}

.side-menu .menu a:hover {
  background-color: #f2f2f2;
}

.side-menu .preferences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /* settings */
  /* login btns */
}

.side-menu .preferences .settings {
  margin-bottom: 40px;
  padding: 10px 0;
  width: 100%;
}

.side-menu .preferences .settings a {
  opacity: .6;
  display: block;
  padding: 10px 40px;
  width: 100%;
  max-width: 400px;
  color: #000000;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  text-align: left;
}

.side-menu .preferences .settings a span .fas, .side-menu .preferences .settings a span .fab {
  width: 30px;
}

.side-menu .preferences .settings a:hover {
  opacity: 1;
}

.side-menu .preferences .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
  margin-bottom: 40px;
}

.side-menu .preferences .login a {
  color: #000000;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  padding: 10px 20px;
}

.side-menu .preferences .login a:nth-child(even) {
  color: #fff;
  font-weight: 600;
  background-color: #50bda1;
  -webkit-transition: .2s;
  transition: .2s;
}

.side-menu .preferences .login a:nth-child(even):hover {
  background-color: #3c9e85;
}

/*** flickity ***/
ol.flickity-page-dots {
  width: 100%;
  max-width: 400px;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

button.flickity-button {
  display: none;
}

/*** Reset ***/
html,
body,
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

html :focus,
body :focus,
* :focus {
  outline: none;
}

/*** main content ***/
/** notification bar **/
.notification {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #fff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2333;
  -webkit-transition: 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -webkit-box-shadow: 0 0px 1.4px rgba(0, 0, 0, 0.025), 0 0px 3.5px rgba(0, 0, 0, 0.035), 0 0px 7.1px rgba(0, 0, 0, 0.045), 0 0px 14.6px rgba(0, 0, 0, 0.055), 0 0px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0px 1.4px rgba(0, 0, 0, 0.025), 0 0px 3.5px rgba(0, 0, 0, 0.035), 0 0px 7.1px rgba(0, 0, 0, 0.045), 0 0px 14.6px rgba(0, 0, 0, 0.055), 0 0px 40px rgba(0, 0, 0, 0.08);
  /* on mobile */
}

@media (max-width: 480px) {
  .notification {
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.notification h1 {
  font-family: "Arvo", serif;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .notification h1 {
    font-size: .9rem;
  }
}

.notification p {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
}

.notification p a {
  color: #3c9e85;
}

.notification .accept {
  background-color: #50bda1;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  color: #fff;
  font-family: "Arvo", serif;
  font-size: 1.3rem;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
}

.notification .accept:hover {
  background-color: #3c9e85;
}

/** her **/
.hero {
  height: 80vh;
  width: 100%;
  background-color: #f1f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2% 4%;
  background-image: url("https://images.unsplash.com/photo-1524749292158-7540c2494485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
  z-index: 1;
  /* overlay */
  /* title h1 */
  /* sub title */
  /* btns */
  /* scroll animation */
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.hero h1 {
  font-family: "Arvo", serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  /** change when it's on mobile **/
}

@media only screen and (max-width: 480px) {
  .hero h1 {
    font-size: 1.8rem;
  }
}

.hero h4 {
  font-size: 1.3rem;
  font-family: "Quicksand", sans-serif;
  line-height: 1;
  color: #fff;
}

.hero .btns {
  /* hire me button */
  /* CTA btn */
}

.hero .btns button {
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.2rem;
  font-family: "Arvo", serif;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.hero .btns .hire {
  background-color: #50bda1;
  color: #fff;
}

.hero .btns .hire:hover {
  background-color: #3c9e85;
}

.hero .btns .cta {
  background-color: #ff1e56;
  color: #fff;
}

.hero .btns .cta:hover {
  background-color: #ea003a;
}

.hero .scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 50px;
  width: 30px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fff;
}

.hero .scroll .dot {
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: scrollDown 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: scrollDown 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  /* animation */
}

@-webkit-keyframes scrollDown {
  0% {
    top: 5px;
  }
  50% {
    opacity: .9;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}

@keyframes scrollDown {
  0% {
    top: 5px;
  }
  50% {
    opacity: .9;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}

/** about me **/
.who {
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* change view on mobile and tablet */
}

@media only screen and (max-width: 790px) {
  .who {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100vw;
  }
}

.who .myImg img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.who .aboutMe {
  /* change view */
  width: 50%;
  margin-left: 30px;
}

@media only screen and (max-width: 790px) {
  .who .aboutMe {
    width: 100%;
    margin: 30px 0 0 0;
  }
}

.who .aboutMe h1 {
  font-family: "Arvo", serif;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 3rem;
}

@media only screen and (max-width: 790px) {
  .who .aboutMe h1 {
    font-size: 2rem;
  }
}

.who .aboutMe h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 2;
  color: #ff1e56;
}

.who .aboutMe p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

.who .aboutMe .about {
  margin-top: 10px;
  border: none;
  background-color: #50bda1;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.3rem;
  font-family: "Arvo", serif;
  -webkit-transition: 0.3s cubic-bezier(1, 3, 0, 2);
  transition: 0.3s cubic-bezier(1, 3, 0, 2);
  cursor: pointer;
}

.who .aboutMe .about:hover {
  background-color: #3c9e85;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/** Features **/
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4%;
  /** change view **/
}

@media only screen and (max-width: 790px) {
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features .feature {
  padding: 30px;
  width: 33%;
  margin: 10px;
  background-color: #f1f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s cubic-bezier(1, 0, 0, 2);
  transition: all 0.3s cubic-bezier(1, 0, 0, 2);
  cursor: pointer;
  /* hover */
  /* img */
}

@media only screen and (max-width: 790px) {
  .features .feature {
    width: 100%;
  }
}

.features .feature:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-box-shadow: 0 0px 2.4px rgba(0, 0, 0, 0.02), 0 0px 8px rgba(0, 0, 0, 0.03), 0 0px 36px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0px 2.4px rgba(0, 0, 0, 0.02), 0 0px 8px rgba(0, 0, 0, 0.03), 0 0px 36px rgba(0, 0, 0, 0.05);
}

.features .feature h3 {
  margin: 10px 0;
  font-family: "Arvo", serif;
}

.features .feature p {
  font-family: "Quicksand", sans-serif;
}

.features .feature .img {
  height: 100px;
  width: 100px;
  background-image: url("https://asata.beplusthemes.com/wp-content/uploads/2019/06/icon6.png");
  background-size: cover;
  background-position: 10%;
}

.features .feature .img3 {
  background-image: url("https://asata.beplusthemes.com/wp-content/uploads/2019/06/icon7.png");
}

.features .feature .img2 {
  background-image: url("https://asata.beplusthemes.com/wp-content/uploads/2019/06/icon8.png");
}

/** my illustration work **/
.my-work {
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* change view on tablet */
  /* img section */
  /* about */
}

@media only screen and (max-width: 1096px) {
  .my-work {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.my-work .img {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  text-align: center;
  margin-right: 10px;
  /* change view on tablet */
}

@media only screen and (max-width: 1096px) {
  .my-work .img {
    margin: 0 0 20px 0;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.my-work .img img {
  width: 100%;
  max-width: 520px;
  height: auto;
  position: relative;
}

.my-work .about {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* skills */
  /* contact */
}

.my-work .about h1 {
  color: #000000;
  padding: 0 40px 10px 40px;
  text-align: left;
  font-family: "Arvo", serif;
  font-size: 2.1rem;
  text-transform: uppercase;
  /* change view on tablet */
}

@media (max-width: 790px) {
  .my-work .about h1 {
    padding: 10px 0;
    font-size: 1.6rem;
  }
}

.my-work .about p {
  font-family: "Quicksand", sans-serif;
  color: #000000;
  padding: 10px 40px;
  text-align: left;
  font-size: 1.2rem;
  /* change view on tablet */
}

@media (max-width: 790px) {
  .my-work .about p {
    padding: 10px 0;
  }
}

.my-work .about .skills {
  padding: 10px 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* change view on tablet */
}

@media (max-width: 790px) {
  .my-work .about .skills {
    padding: 10px 0;
  }
}

.my-work .about .skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  /* bar */
  /* node */
  /* ps */
}

.my-work .about .skills .skill h5 {
  color: #000000;
  font-family: "Arvo", serif;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.my-work .about .skills .skill span {
  width: 10px;
  color: #ff1e56;
  margin-right: 10px;
}

.my-work .about .skills .skill .bar {
  height: 20px;
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 12px;
  position: relative;
}

.my-work .about .skills .skill .bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff1e56;
  border-radius: 12px;
  height: 100%;
  width: 70%;
}

.my-work .about .skills .skill .node::after {
  width: 80%;
}

.my-work .about .skills .skill .ps::after {
  width: 60%;
}

.my-work .about .contact {
  margin-left: 40px;
  /* change view on tablet */
  background-color: #ff1e56;
  padding: 15px 25px;
  font-size: 1.5rem;
  margin-top: 20px;
  color: #fff;
  font-family: "Arvo", serif;
  border: none;
  cursor: pointer;
  -webkit-transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
}

@media (max-width: 790px) {
  .my-work .about .contact {
    margin-left: 0;
  }
}

.my-work .about .contact:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.my-work .about .contact:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #ff1e56;
  z-index: -2;
  -webkit-animation: fade 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: fade 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  /* change view on tablet */
}

@media (max-width: 790px) {
  .my-work .about .contact:after {
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes fade {
  0% {
    padding: 0;
  }
  100% {
    padding: 20px 30px;
    opacity: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}

@keyframes fade {
  0% {
    padding: 0;
  }
  100% {
    padding: 20px 30px;
    opacity: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}

/** feedbacks */
.feedbacks {
  padding: 4%;
  background-color: #ebebeb;
  /* feedback settings */
}

.feedbacks .feedback {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  /* images */
  /* image cells */
}

.feedbacks .feedback .img {
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}

.feedbacks .feedback .f1 {
  background-image: url("https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=815&q=80");
}

.feedbacks .feedback .f2 {
  background-image: url("https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

.feedbacks .feedback .f3 {
  background-image: url("https://images.unsplash.com/photo-1498661443338-20aca70e1d28?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
}

.feedbacks .feedback .f4 {
  background-image: url("https://images.unsplash.com/photo-1553795886-d6ab6880b373?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=400&q=60");
}

.feedbacks .feedback h1 {
  margin: 10px;
  font-family: "Arvo", serif;
}

.feedbacks .feedback p {
  margin: 10px;
  font-family: "Quicksand", sans-serif;
}

.feedbacks .feedback h6 {
  font-family: "Arvo", serif;
  font-size: 1.3rem;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */