/*** imports ***/
/*** breakpoints ***/
/*** Colors ***/
/*** Fonts ***/
@import url("https://fonts.googleapis.com/css?family=Arvo|Quicksand|Teko&display=swap");
/*** header ***/
/** Main Menu for laptop screens **/
.main-header {
  z-index: 990;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 4%;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.006), 0 2.3px 5.3px rgba(0, 0, 0, 0.008), 0 4.4px 10px rgba(0, 0, 0, 0.01), 0 7.8px 17.9px rgba(0, 0, 0, 0.012), 0 14.6px 33.4px rgba(0, 0, 0, 0.014), 0 35px 80px rgba(0, 0, 0, 0.02);
          box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.006), 0 2.3px 5.3px rgba(0, 0, 0, 0.008), 0 4.4px 10px rgba(0, 0, 0, 0.01), 0 7.8px 17.9px rgba(0, 0, 0, 0.012), 0 14.6px 33.4px rgba(0, 0, 0, 0.014), 0 35px 80px rgba(0, 0, 0, 0.02);
  /* brand logo */
  /* menu */
  /* Hide on small screens */
}

.main-header .brand a {
  font-size: 2.3rem;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "teko", sans-serif;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-header .brand a:hover {
  color: #63c4ab;
}

.main-header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* toggler */
}

.main-header .menu button {
  line-height: .3;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  -webkit-transition: .8s;
  transition: .8s;
}

.main-header .menu button:hover {
  -webkit-transform: rotateX(220deg);
          transform: rotateX(220deg);
}

.main-header .menu a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-header .menu a:hover {
  background-color: #f2f2f2;
}

@media (max-width: 790px) {
  .main-header {
    display: none;
  }
}

/** Mobile Menu for small screens **/
.mobile-menu {
  z-index: 992;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1% 4%;
  width: 100%;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.006), 0 2.3px 5.3px rgba(0, 0, 0, 0.008), 0 4.4px 10px rgba(0, 0, 0, 0.01), 0 7.8px 17.9px rgba(0, 0, 0, 0.012), 0 14.6px 33.4px rgba(0, 0, 0, 0.014), 0 35px 80px rgba(0, 0, 0, 0.02);
          box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.006), 0 2.3px 5.3px rgba(0, 0, 0, 0.008), 0 4.4px 10px rgba(0, 0, 0, 0.01), 0 7.8px 17.9px rgba(0, 0, 0, 0.012), 0 14.6px 33.4px rgba(0, 0, 0, 0.014), 0 35px 80px rgba(0, 0, 0, 0.02);
  /* brand logo */
  /* toggler */
  /* hide on big screens */
}

.mobile-menu .brand a {
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
  font-family: "teko", sans-serif;
  font-weight: bold;
}

.mobile-menu .toggler button {
  line-height: .3;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 790px) {
  .mobile-menu {
    display: none;
  }
}

/** side Menu for small screens **/
.side-menu {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  -webkit-box-shadow: 0 1px 1.6px rgba(0, 0, 0, 0.006), 0 2.4px 3.9px rgba(0, 0, 0, 0.008), 0 4.5px 7.3px rgba(0, 0, 0, 0.01), 0 8px 13px rgba(0, 0, 0, 0.012), 0 15px 24.2px rgba(0, 0, 0, 0.014), 0 36px 58px rgba(0, 0, 0, 0.02);
          box-shadow: 0 1px 1.6px rgba(0, 0, 0, 0.006), 0 2.4px 3.9px rgba(0, 0, 0, 0.008), 0 4.5px 7.3px rgba(0, 0, 0, 0.01), 0 8px 13px rgba(0, 0, 0, 0.012), 0 15px 24.2px rgba(0, 0, 0, 0.014), 0 36px 58px rgba(0, 0, 0, 0.02);
  /* close menu btn */
  /* brand */
  /* menu */
  /* settings & preferences */
}

.side-menu .close {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2rem;
  text-decoration: none;
  background-color: #f1f3f4;
  color: #000000;
  line-height: .55;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.side-menu .close:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: #ff1e56;
  color: #fff;
}

.side-menu .brand {
  margin-top: 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.side-menu .brand a {
  font-size: 2.9rem;
  color: #000000;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 550;
}

.side-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.side-menu .menu a {
  color: #000000;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  padding: 10px 40px;
  width: 100%;
  max-width: 400px;
  -webkit-transition: .2s;
  transition: .2s;
}

.side-menu .menu a span {
  width: 20px;
  margin-right: 2px;
}

.side-menu .menu a span .fa {
  text-align: center;
  font-size: .6rem;
}

.side-menu .menu a .sp1 {
  color: #ff1e56;
}

.side-menu .menu a .sp2 {
  color: #be79df;
}

.side-menu .menu a .sp3 {
  color: #481380;
}

.side-menu .menu a .sp4 {
  color: #98d6ea;
}

.side-menu .menu a:hover {
  background-color: #e0e0e0;
}

.side-menu .preferences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 40px;
  /* settings */
  /* login btns */
}

.side-menu .preferences .settings {
  margin-bottom: 40px;
  padding: 10px 0;
}

.side-menu .preferences .settings a {
  opacity: .6;
  display: block;
  padding: 10px 40px;
  width: 400px;
  color: #000000;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
}

.side-menu .preferences .settings a span {
  width: 20px;
  margin-right: 10px;
}

.side-menu .preferences .settings a:hover {
  opacity: 1;
}

.side-menu .preferences .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
  margin-bottom: 40px;
}

.side-menu .preferences .login a {
  color: #000000;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  padding: 10px 20px;
}

.side-menu .preferences .login a:nth-child(even) {
  color: #fff;
  font-weight: 600;
  background-color: #50bda1;
  -webkit-transition: .2s;
  transition: .2s;
}

.side-menu .preferences .login a:nth-child(even):hover {
  background-color: #3c9e85;
}

/*** Reset ***/
html, body, * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html :focus, body :focus, * :focus {
  outline: none;
}

/*** main content ***/
/*# sourceMappingURL=main.css.map */