/*** imports ***/
@import 'variables', 'header', 'footer', 'utilities';

/*** Reset ***/

html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;

    :focus {
        outline: none;
    }
}

/*** main content ***/

/** notification bar **/
.notification {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: $light;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2333;
    transition: .6s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    box-shadow:
        0 0px 1.4px rgba(0, 0, 0, 0.025),
        0 0px 3.5px rgba(0, 0, 0, 0.035),
        0 0px 7.1px rgba(0, 0, 0, 0.045),
        0 0px 14.6px rgba(0, 0, 0, 0.055),
        0 0px 40px rgba(0, 0, 0, 0.08);

    /* on mobile */
    @media(max-width: $mobile) {
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }


    h1 {
        font-family: $headerFont;
        margin-bottom: 20px;

        @media(max-width: $mobile) {
            font-size: .9rem;
        }
    }

    p {
        font-family: $font;
        line-height: 1.6;

        a {
            color: darken($success, 10);
        }
    }

    .accept {
        background-color: $success;
        padding: 10px 20px;
        margin-top: 20px;
        border: none;
        color: $light;
        font-family: $headerFont;
        font-size: 1.3rem;
        cursor: pointer;
        transition: .1s;

        &:hover {
            background-color: darken($success, 10);
        }
    }
}

/** her **/

.hero {
    height: 80vh;
    width: 100%;
    background-color: $lightGray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2% 4%;
    background-image: url('https://images.unsplash.com/photo-1524749292158-7540c2494485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    z-index: 1;

    /* overlay */
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: transparentize($dark, .8);
        z-index: -1;
    }

    /* title h1 */
    h1 {
        font-family: $headerFont;
        color: $light;
        text-transform: uppercase;
        font-size: 3rem;


        /** change when it's on mobile **/
        @media only screen and (max-width: $mobile) {
            font-size: 1.8rem;
        }
    }

    /* sub title */
    h4 {
        font-size: 1.3rem;
        font-family: $font;
        line-height: 1;
        color: $light;
    }

    /* btns */
    .btns {
        button {
            border: none;
            padding: 10px 20px;
            margin-top: 20px;
            font-size: 1.2rem;
            font-family: $headerFont;
            font-weight: 600;
            margin-right: 10px;
            cursor: pointer;
            transition: .3s ease-out;
        }

        /* hire me button */
        .hire {
            background-color: $success;
            color: $light;

            &:hover {
                background-color: darken($success, 10);
            }
        }

        /* CTA btn */
        .cta {
            background-color: $mainColor;
            color: $light;

            &:hover {
                background-color: darken($mainColor, 10);
            }
        }
    }

    /* scroll animation */
    .scroll {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
        width: 30px;
        border-radius: 20px;
        background-color: transparent;
        border: 2px solid $light;

        .dot {
            position: absolute;
            top: 5px;
            left: 50%;
            transform: translateX(-50%);
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: #fff;
            animation: scrollDown 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;

            /* animation */
            @keyframes scrollDown {
                0% {
                    top: 5px;
                }

                50% {
                    opacity: .9;
                }

                100% {
                    top: 30px;
                    opacity: 0;
                }
            }
        }
    }
}

/** about me **/

.who {
    padding: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /* change view on mobile and tablet */
    @media only screen and (max-width: $tablet) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        max-width: 100vw;
    }


    .myImg {
        img {
            width: 100%;
            max-width: 600px;
            height: auto;
        }
    }

    .aboutMe {

        /* change view */
        @media only screen and (max-width: $tablet) {
            width: 100%;
            margin: 30px 0 0 0;
        }

        width: 50%;
        margin-left: 30px;

        h1 {
            font-family: $headerFont;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 3rem;

            @media only screen and (max-width: $tablet) {
                font-size: 2rem;
            }
        }

        h4 {
            font-family: $font;
            font-weight: 400;
            line-height: 2;
            color: $mainColor;
        }

        p {
            font-family: $mainFont;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .about {
            margin-top: 10px;
            border: none;
            background-color: $success;
            padding: 10px 20px;
            color: $light;
            font-size: 1.3rem;
            font-family: $headerFont;
            transition: .3s cubic-bezier(1, 3, 0, 2);
            cursor: pointer;

            &:hover {
                background-color: darken($success, 10);
                transform: scale(1.1);
            }
        }
    }
}

/** Features **/

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4%;

    /** change view **/
    @media only screen and (max-width: $tablet) {
        flex-direction: column;
    }

    .feature {
        padding: 30px;
        width: 33%;
        margin: 10px;
        background-color: $lightGray;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: all .3s cubic-bezier(1, 0, 0, 2);
        cursor: pointer;

        @media only screen and (max-width: $tablet) {
            width: 100%;
        }

        /* hover */
        &:hover {
            transform: scale(1.06);
            box-shadow:
                0 0px 2.4px rgba(0, 0, 0, 0.02),
                0 0px 8px rgba(0, 0, 0, 0.03),
                0 0px 36px rgba(0, 0, 0, 0.05);
        }

        h3 {
            margin: 10px 0;
            font-family: $headerFont;
        }

        p {
            font-family: $font;
        }

        /* img */
        .img {
            height: 100px;
            width: 100px;
            background-image: url('https://asata.beplusthemes.com/wp-content/uploads/2019/06/icon6.png');
            background-size: cover;
            background-position: 10%;
        }

        .img3 {
            background-image: url('https://asata.beplusthemes.com/wp-content/uploads/2019/06/icon7.png');
        }

        .img2 {
            background-image: url('https://asata.beplusthemes.com/wp-content/uploads/2019/06/icon8.png');
        }
    }
}

/** my illustration work **/
.my-work {
    padding: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /* change view on tablet */
    @media only screen and (max-width: $tablet + 306px) {
        flex-wrap: wrap;
    }

    /* img section */
    .img {
        flex: 50%;
        text-align: center;
        margin-right: 10px;

        /* change view on tablet */
        @media only screen and (max-width: $tablet + 306px) {
            margin: 0 0 20px 0;
            flex: 100%;
        }

        img {
            width: 100%;
            max-width: 520px;
            height: auto;
            position: relative;
        }
    }

    /* about */
    .about {
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;


        h1 {
            color: $dark;
            padding: 0 40px 10px 40px;
            text-align: left;
            font-family: $headerFont;
            font-size: 2.1rem;
            text-transform: uppercase;

            /* change view on tablet */
            @media (max-width: $tablet) {
                padding: 10px 0;
                font-size: 1.6rem;
            }
        }

        p {
            font-family: $font;
            color: $dark;
            padding: 10px 40px;
            text-align: left;
            font-size: 1.2rem;

            /* change view on tablet */
            @media (max-width: $tablet) {
                padding: 10px 0;
            }
        }

        /* skills */
        .skills {
            padding: 10px 40px;
            width: 100%;
            display: flex;
            flex-direction: column;

            /* change view on tablet */
            @media (max-width: $tablet) {
                padding: 10px 0;
            }

            .skill {
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                h5 {
                    color: $dark;
                    font-family: $headerFont;
                    margin-bottom: 10px;
                    font-size: 1.1rem;
                }

                span {
                    width: 10px;
                    color: $mainColor;
                    margin-right: 10px;
                }

                /* bar */
                .bar {
                    height: 20px;
                    width: 100%;
                    background-color: darken($light, 10);
                    border-radius: 12px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: $mainColor;
                        border-radius: 12px;
                        height: 100%;
                        width: 70%;
                    }
                }

                /* node */
                .node {
                    &::after {
                        width: 80%;
                    }
                }

                /* ps */
                .ps {
                    &::after {
                        width: 60%;
                    }
                }
            }
        }

        /* contact */
        .contact {
            margin-left: 40px;

            /* change view on tablet */
            @media (max-width: $tablet) {
                margin-left: 0;
            }

            background-color: $mainColor;
            padding: 15px 25px;
            font-size: 1.5rem;
            margin-top: 20px;
            color: $light;
            font-family: $headerFont;
            border: none;
            cursor: pointer;
            transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
            position: relative;

            &:hover {
                transform: scale(1.2);
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                background-color: $mainColor;
                z-index: -2;
                animation: fade 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;

                @keyframes fade {
                    0% {
                        padding: 0;
                    }

                    100% {
                        padding: 20px 30px;
                        opacity: 0;

                        filter: blur(5px);
                    }
                }
            }
        }
    }
}